<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/search.js"></script>

    <title>HOLA BEBE</title>
</head>
<body>
<div id="contenedor"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                                class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">Nodibrary</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Biblio</a>
                        </li>
                        <li>
                            <a href="views.html">Lists</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.local.email %><strong
                                        class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/profile" action="/signup">Profile</a>
                                </li>
                                <li>
                                    <a href="#">Messages</a>
                                </li>
                                <li>
                                    <a href="#">Your Music</a>
                                </li>
                            </ul>
                        </li>
                        <li id="logout">
                            <a href="/logout" class="glyphicon glyphicon-off" title="Logout"></a>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <div class="row clearfix" id="search">
        <div class="col-md-4 column" id="searcher">
            <form role="form" class="form-inline">
                <div class="box">
                    <div class="container-4">
                        <input type="search" id="search" placeholder="Search..." />
                        <button class="icon glyphicon glyphicon-search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>