#contenedor {

    background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
    background: -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
    background: linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */

    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
}

.container {
    margin-top: 70px;
}

#logout {
    margin-right: 10px;
}

.navbar-collapse {
    background-color: black;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #2ebd59;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover  {
    color: #2ebd59;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-menu > li > a {
    color: white;
}

.container-4 {
    overflow: hidden;
    width: 500px;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search {
    width: 500px;
    height: 100px;
    background: rgba(37, 139, 70, 0.66);
    border: none;
    font-size: 25pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    padding-top: 3px;
    margin-top: 1px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #fff;
}

.container-4 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.container-4 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.container-4 input#search:-ms-input-placeholder {
    color: #fff;
}

.container-4 button.icon {
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    border: none;
    background: #161616;
    height: 100px;
    width: 50px;
    color: #2ebd59;
    opacity: 0;
    font-size: 15pt;
    margin-left: -50px;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -50px;
}

.container-4 input#search:focus {
    outline: none;
}
